[submodule "public"]
	path = public
	url = https://github.com/leggettc18/leggettc18.github.io.git
	branch = main
[submodule "themes/lenora"]
	path = themes/lenora
	url = git@github.com:leggettc18/lenora.git
	branch = master